.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
}
